[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pyqt5 = "*"
pytz = "*"
html2text = "*"
pandas = "*"
idna = "*"
pyautogui = "*"
requests = "*"
openpyxl = "*"
pyinstaller = "*"
certifi = "*"
easyprocess = "*"
beautifulsoup4 = "*"
pywin32 = "*"
pysocks = "*"
apscheduler = "*"
textblob = "*"
tzdata = "*"

[dev-packages]

[requires]
python_version = "3.10"
python_full_version = "3.10.9"
